*{
 color: #00000;
 font-family: Futura, ‘Century Gothic’, AppleGothic, sans-serif;
}
#button:hover{
  background-color: #888888;
  height: 50px;
  width: 100px;
  display: block;
}
#button{
  background-color: #B0B0B0;
  height: 50px;
  width: 100px;
  display: block;
}
#topbar{
  background-color: #B0B0B0;
  display:inline;
}
