*{
 color: #888888;
 font-family: Futura, ‘Century Gothic’, AppleGothic, sans-serif;
 background-color:#E8E8E8;
}
#button:hover{
  height: 25px;
  width: 100px;
  display: inline-block;
  float: left;
  color: #FFFFFF;
  background-color: #AAAAAA;
  padding-top: 5px;

}
#button{
  height: 25px;
  width: 100px;
  display: inline-block;
  float: left;
  padding-top: 5px;
}
#topbar{
  height: 50px;
  width: 300px;
  display:inline-block;
  margin-left: 40%;
  margin-right: 40%;
  margin-top:1%;
}
#buttonwords{
    padding:3px;
    text-align: center;
}
#quote{
    color:#787878;
    text-align:center;
}
#bodycontent{
    position:relative;
    width: 30%;
    height: auto;
    max-height: 700px;
    margin-left: 35%;
    margin-right: 35%;
}
#bodyparagraph{
    padding: 10px;
    color: #888888;
    text-align: left;
}
.unselectable{
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
a:link {color:#000; text-decoration:none;}
a:visited {color:#000;text-decoration:none;}
a:hover{color: #000;text-decoration:none;}
.active{
 background-color: #FFF;
 color: #AAAAAA;
}
 
.linkfix{
 color: #888888;
}
footer{
 position: fixed;
 font-size: small; 
 text-align: center; 
 width: 30%; 
 left: 35%; 
 right: 35%; 
 bottom:0;
}
